.slider-container {
    width: 80%;
    margin-top: 10rem;
    margin-left: 10%;
    margin-bottom: 5rem;
    margin-right: 3rem;
    position: relative;
    z-index: 1;
    padding-right: -100rem;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 35, 35);
    color: antiquewhite;
    border-radius: 1rem;
    padding-right: -100rem;
}

.image-container {
    flex: 1;
    width: 30rem;
}

.image-container img {
    width: 30rem;
    border-radius: 40rem;
}

.info-container {
    width: calc(100% - 20px); 
    flex: 1;
    padding: 0 20px;
}